*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-bg-darkblue: #1A1A39;
}

body {
  overflow-x: hidden;
  background-color: var(--color-bg-darkblue);
}

.mila-video-bh video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.mila-video-bh {
  height: 400vh;
}